
<div class="helpnav">
    <h1>Helpr!</h1>


<div class="nav circle request">
    <a href="#">
        <p>I</p><p>need</p><p>help</p>
    </a>
</div>

<div class="nav circle left offer">
    <a href="#">    
        <p>I</p><p>offer</p><p>help</p>    
    </a>
</div>

</div>