<h2>A great place where you can find and offer help. :)</h2>

<div class="nav">
    <a href="/requests">
        <div class="circle request">
            <p>I NEED HELP</p>   
        </div>
    </a>
</div>

<div class="nav">
    <a href="/offers">  
        <div class="circle offer">
            <p>I OFFER HELP</p> 
        </div>           
    </a>
</div>

<div id="welcometext">
    <p>
    A Web App for finding, requesting or offering help in different categories (e.g. Computer, Shopping, Pets etc.) and locations.
    </p>
    <p>
    You can browse requests and offers without signing up. In case you want to place either an offer for help or a request, you need to sign up.
    </p>
    <p>
    You can search by category and location. Simply put in your address and specify the radius within you look for requests or offers and select a category.
    </p>
    <p>
    For testing purposes just click "Log-In" and log in as "user@test.com".
    </p>
</div>