
<a href="/requests">
    <div class="nav circle request">
        <p>I NEED HELP</p>   
    </div>
</a>

<a href="/offers">  
    <div class="nav circle left offer">
        <p>I OFFER HELP</p> 
    </div>           
</a>

