<h2>A great place where you can find and offer help. :)</h2>

<div class="nav">
    <a href="/requests">
        <div class="circle request">
            <p>I NEED HELP</p>   
        </div>
    </a>
</div>

<div class="nav">
    <a href="/offers">  
        <div class="circle offer">
            <p>I OFFER HELP</p> 
        </div>           
    </a>
</div>
