
<% if @offer.errors.any? %>
  <div id="errors">
    <p class="error-count">
      The form contains <%= pluralize(@offer.errors.count, "error") %>.
    </p>
    <ul class="error-list">
    <% @offer.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
