/* 
Project Name: Helpr App
Client: General Assembly 
Author: Andrea Trapp
Developer @GA in NYC
*/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

.wrapper {
  margin: 0 auto;  
  padding: 0;
  max-width: 70%;   
  font-size: 20px;
  background-color: rgba(255,233,255,0.6);
}

header {
  background-color: orange;
  height: 100px;
}

header .logo { 
  float: left;
  margin-left: 20px; 
}

h1 {
  float: left;
  margin: 0;
  margin-left: 20px;   
  font-size: 40px;
  font-family: 'Gloria Hallelujah', cursive; 
}

h2 {
  margin: 0;
  margin-top: 20px;
  font-size: 100%; 
  font-family: 'Gloria Hallelujah', cursive;
  text-align: center;
}

h3 {
  margin: 0;
}

.login {
  float: right;   
  font-family: 'Short Stack', cursive;
  font-size: 16px;  
}

nav.main { 
  clear: both;
  margin: 0;
  padding: 20px;
  background: rgba(0,0,0,0.8);
  text-align: center;
  font-family: 'Short Stack', cursive;  
}

.nav {
  display: inline-block;
  margin: 0;        
  font-weight: bold;    
  padding: 20px;
}

nav.main a {
 text-decoration: none; 
 color: #FF9500;
 padding: 5px;
}

.content {
  margin: 0 auto;
  max-width: 600px;
  min-height: 500px;  
}

.nav .circle {
  width: 200px;
  height: 200px;
  border-radius: 100%; 
  box-shadow: 10px 10px 50px #3B3B45; 
  margin: 25px 25px 50px 25px; 
  text-align: center;
}

.nav .circle p {
  padding-top: 160px;
  font-size: 30px;
  font-family: 'Gloria Hallelujah', cursive;   
}

.request {
  float: left;
  margin: 20px; 
  background: image-url("sw304.jpg") center;  
}

.offer {  
  float: left; 
  width: 100%;
  margin: 20px;
  background: image-url("sw308.jpg") center; 
}

#welcometext {
  margin: 50px 0;
  padding: 20px;
}

table, .container {
  margin: 0 auto;
  padding: 20px 50px;  
  width: 500px;
  background-color: rgba(255,233,255,0.8);
}  

section {
  margin: 0 auto;
  padding: 20px 50px;  
  width: 400px;
}

.searchform {
  margin: 0 auto;
  padding: 20px 50px; 
  max-width: 500px; 
  background: gray;
  text-align: center;
}

footer {
  clear: both;
  margin: 0;
  padding-right: 10px;
  height: 100px;
  background: rgba(0,0,0,0.8);
  font-family: 'Short Stack', cursive;
  color: white;
}

footer .copyright {
  float: right;  
  padding: 10px;
  padding-top: 40px;
  font-size: 12px;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

@media (max-width: 900px) {

  .wrapper { 
    max-width: 90%;
  }

}
