<h2>All categories</h2>

<p class="create"><button><%= link_to "Create category", new_category_path %></button></p>


<% @categories.each do |category| %>

   <table>
        <section> 
     
            <tr>
                <td>Title:</td>             
                <td><%= category.title %></td>            
            </tr>       
            <tr>  
                <td><a href="/categories/<%= category.id %>"><button>SHOW</button></a></td>                
            </tr>

        </section>
    </table>
        
<% end %>
