<h2>Search locations</h2>

Filter locations by radius:

<form action="/locations/search" method="get">     
    <input type="text" name="start_location" placeholder="... your address">    
    <input type="text" name="radius" placeholder="... radius in miles">   
    <button>submit</button> 
</form>
