<div class="searchform">
  <h2>Search locations</h2>

  Filter locations by radius:

  <form action="/locations/search" method="get">
    <input type="text" name="start_location" placeholder="... your address">
    <input type="text" name="radius" placeholder="... radius in miles">
    <button>Search</button>
  </form>
</div>
